<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Carrinho</title>
</head>
<body>
	<h1 align="center">Estado do seu carrinho</h1>
	<h2 align="center" th:if="${session.carrinho == null}">Carrinho vazio!</h2>
	<table border=1 align="center"
		th:if="${not #lists.isEmpty(session.carrinho.itens)}">
		<tr bgcolor="#cccccc">
			<th>id do item</th>
			<th>descrição</th>
			<th>custo unitário</th>
			<th>quantidade</th>
			<th>custo total</th>
		</tr>
		<tr th:each="item : ${session.carrinho.itens}">
			<td><span th:text="${item.id}"> </span></td>
			<td><i><span th:text="${item.descricaoCurta}"></span></i></td>
			<td align="right"><span
				th:text="${#numbers.formatDecimal(item.precoUnitario, 1,2)}"></span></td>
			<td>
				<form th:action="@{carrinho}" method="post">
					<input type="hidden" name="id" th:value="${item.id}"> <input
						type="text" name="numItens" size=3 th:value="${item.numItens}"
						style="direction: rtl"><small>
						<input type="submit" value="atualizar pedido"></small>
				</form>
			</td>
			<td align="right"><span th:text="${item.precoTotal}"> </span></td>
		</tr>
	</table>
	<br />
	<form th:action="@{/catalogo}" method="get">
		<div align="center">
			<input type="submit" value="continuar comprando">
		</div>
	</form>
	<form th:action="@{/carrinho/fim}" method="get">
		<div align="center">
			<input type="submit" value="encerrar">
		</div>
	</form>
</body>
</html>